@media (max-width: 991px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    .carousel {
        .slick-dots {
            display: none;
        }
    }
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
        &-item {
            width: 250px;
            &__old-price {
                font-size: 10px;
            }
            &__price {
                font-size: 15px;
            }
        }
        .button_mini {
            width: 131px;
            height: 40px;
        }
    }

}
@media (max-width: 769px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            margin-top: 4px;
            font-size: 17px;
        }
    }
    .benefits{
        .title {
            font-size: 22px;
        }
    }
    .consultation {
        .title_left {
            font-size: 25px;
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }
    
}
    
@media (max-width: 575px) {
    .header {
        &__official{
            display: none;
        }
        &__contacts{
            display: none;
        }
        &__logo{
            display: block;
            margin: 0 auto;
        }
    }
    .catalog {
        &__tab {
            font-size: 12px;
            width: 160px;
            height: 45px;
            line-height: 45px;
        }
        .title {
            font-size: 22px;
            margin-top: 20px;
        }
        &-item {
            &__footer {
                flex-direction: column;
            }
        }
        .button {
            width: 170px;
            height: 32px;
            margin-top: 10px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 28px;
        }
        &__subheader {
            margin-top: 4px;
            font-size: 15px;
        }
        &__link {
            font-size: 12px;
        }
        &__icons {
            width: 400px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .button_main { 
        width: 170px;
        height: 35px;
        font-size: 10px;
    }
    .benefits {
        .title {
            font-size: 20px;
        }
        &__wrapper {
            flex-direction: column;
        }
        &__blocks {
            margin-top: 20px;
        }
    }
    .consultation {
        .title_left {
            font-size: 22px;
        }
        .feed-form {
            width: 250px;
        }
    }
    .carousel {
        display: none;
    }
    .reviwes {
        .title {
            font-size: 20px;
        }
        &__clients {
            flex-direction: column;
        }
        &__img {
            
            margin: 0 auto;
        }
        &__wrapper {
            margin-left: 0;
            text-align: center;
            br {
                display: none;
            }
        }
        &__name {
            font-size: 14px;
            span {
                font-size: 12px;
            }
        }
        &__descr {
            font-size: 12px;
        }
        
    }
}
@media (max-width: 376px) {
    .promo__icons {
        flex-direction: column;
        align-items: center;
    }
    .promo__icon {
        font-size: 12px;
        margin-top: 10px;
    }
    .benefits {
        .title {
            font-size: 15px;
        }
    }
    .consultation {
        .button_submit {
            font-size: 13px;
        }
        &__descr {
            font-size: 17px;
        }
    }
    .catalog {
        &__tabs {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__tab {
            width: 150px;
            height: 40px;
            line-height: 40px;
            &:last-child {
                margin-top: 12px;
            }
        }
    }
    
}
