@import 'base/_variables.scss';
* {
    font-family: "Museo Sans Cyrl", sans-serif;
    box-sizing: border-box;
}
.conteiner {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/carousel';
@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/catalog';

@import 'base/media';