.reviwes {
    &__clients {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__wrapper {
        margin-left: 62px;
        span {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 300;
            color: #646464;
        }
    }
    &__name {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__descr { 
        margin-top: 19px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        &:last-child {
            margin-bottom: 71px;
        }
        hr {
            color: white;
        }
    }
}
